body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.header {
  font-size: 20px;
  font-weight: 700;
}

.albumArt {
  height: 300px;
}

.title {
  width: 300px;
}

.title a {
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.artists {
  color: #a0a0a0;
}

.artists a {
  text-decoration: none;
}

.artists:hover {
  text-decoration: underline;
}